#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Win transifex client
tx.exe

#############
## Mac detritus
#############

# Mac crap
.DS_Store


#############
## uncomplete translations
#############

source/languages/zh-TW/
source/languages/da-DK/
source/languages/cs-CZ/
source/languages/ru-PO/
source/languages/fa-IR/
source/languages/pt_PT/
source/languages/uk-UA/
source/languages/fi-FI/