#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Win transifex client
tx.exe
update.bat

#############
## Mac detritus
#############

# Mac crap
.DS_Store


#############
## new translations with status below 80%
#############

# Ukrainian
source/languages/uk-UA/

# Chinese Taiwan
source/languages/zh-TW/

# Persian
source/languages/fa-IR/

#Russian Petrine
source/languages/ru-PO/

# Finnish
source/languages/fi-FI/

# Arabic
source/languages/ar-AA