#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Win transifex client
tx.exe
update.bat
push.bat

#############
## Mac detritus
#############

# Mac crap
.DS_Store


#################
# X-Build-Stuff
#################
_build

create
create.sh

push
push.sh

pull
pull.sh

buildManifest
buildManifest.sh

buildUserStatistics
buildUserStatistics.sh